@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
:root {
	--primary-color: #28587b;
	--secondary-color: #eeeeff;
	--accent1-color: #ffd046;
	--accent2-color: #362417;

	--heading-font: "Abhaya Libre", serif;
	--paragraph-font: "Abhaya Libre", serif;

	/* --nav-background-color: #52ee32; */
	--nav-background-color: #51ee325d;
	--nav-link-color: #992806;
	--nav-hover-link-color: #ddaabb;
	--nav-hover-background-color: #bb4915;
}

header{
	display: grid;
	justify-items: center;
	align-items: center;
	/* justify-content: space-between; */
	background-color: var(--nav-background-color);
	grid-template-columns: 1fr 2fr;
	font-family: var(--heading-font);
}

header img{
	width: 200px;
	height: auto;
}
a {
	text-decoration: none;
	/* color: #a4a3a3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 1rem; */
}

nav a{
	color: rgba(44, 55, 207, 0.827);
	padding: 6px;
	border: 0.1px solid rgba(0, 0, 0, 0.428);
	background: white;
	padding: 6px 25px;
}
nav{
	padding: 4px;
	margin: 1px;
	display: flex;
	color: whitesmoke;
	text-decoration: none;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	/* border: 0.1px solid black; */
}
.history, .adventure{
	text-align: center;
	padding: 10px;
}

.historyData{
	display: flex;
}

.adventureData {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	/* width: 20px; */
	/* height: auto; */
}

.adventureData figure img{
	width: 100px;
}

body {
	font-family: var(--paragraph-font);
	/* width: 640px; */
	width: 1000px;
}

.hero{
	display: grid;
	background-image: url("/wwr/images/rafting12_1024.jpeg");
	align-items: center;
	justify-items: center;
	background-repeat: no-repeat;
}

.hero h1{
	text-transform: uppercase;
	color: #fff;
}

.heroArticle{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 100px auto;
}

article{
	display: flex;
	background-color: #28587b62;
	padding: 1rem;
	margin: 1rem;
}
article img{
	width: 200px;
	height: auto;
}

/* footer{
	display: flex;
	justify-content: space-around;
	justify-items: center;
	align-items: center;
	background-color: rgba(204, 60, 204, 0.767);
} */

footer{
	background-color: rgba(204, 60, 204, 0.767);
	display: flex;
	/* justify-content:space-around; */
	align-items: center;

}
footer nav{
	display: flex;
	/* flex: 1; */
	justify-content: flex-end;
}

footer p{
	display: flex;
	flex: 2;
	justify-content: space-around;
	align-items: center;
	/* justify-items: center; */
	/* align-items: center; */
}

/* .hero {
	position: relative;
} */

/* .hero img {
	position: relative;
	top: 10px;
	left: 10px;
	display: block;
	width: 100%;
	height: auto;
} */

/* .hero h1 {
	position: absolute;
	text-transform: uppercase;
	color: #2010b0af;
	top: 50px;
	left: 120px;
	font-size: 40px;
	font-weight: bolder;
	padding: 5px;
	background-color: rgba(141, 211, 237, 0.626);
	border-radius: 10px;
} */
/* .hero article img {
	position: absolute;
	top: 150px;
	left: 430px;
	width: 200px;
	height: auto;
	float: right;
	box-sizing: border-box;
	margin: 0.5rem;
	padding: 0.5rem;
	display: block;
} */


/* .hero article p {
	position: absolute;
	top: 150px;
	left: 35px;
	right: 220px;
	color: rgb(255, 255, 255);
	background: rgba(120, 22, 22, 0.601);
} */

h2 {
	text-transform: uppercase;
	color: #ee6d32;
}

figcaption {
	font-weight: bold;
	color: blueviolet;
}
