@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Hedvig+Letters+Sans&family=Titillium+Web&display=swap");

/* :root {
	--primary-color: "#28587B";
	--secondary-color: "#EEEEFF";
	--accent1-color: "#FFD046";
	--accent2-color: "#362417";

	--heading-font: "Hedvig Letters Sans", "Titillium Web", "serif";
	--paragraph-font: "Hedvig Letters Sans", "Titillium Web", "serif";

	--nav-background-color: "#52EE32";
	--nav-link-color: "#992806";
	--nav-hover-link-color: "#ddaabb";
	--nav-hover-background-color: "#bb4915";
} */

:root {
	--primary-color: #28587b;
	--secondary-color: #eeeeff;
	--accent1-color: #ffd046;
	--accent2-color: #362417;

	--heading-font: "Hedvig Letters Sans", "Titillium Web", serif;
	--paragraph-font: "Hedvig Letters Sans", "Titillium Web", serif;

	--nav-background-color: #52ee32;
	--nav-link-color: #992806;
	--nav-hover-link-color: #ddaabb;
	--nav-hover-background-color: #bb4915;
}

body {
	font-family: var(--paragraph-font);
	max-width: 960px;
	padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font);
	color: var(--primary-color);
	/* color: red; */
}

header {
	padding: 20px;
	background-color: var(--nav-hover-link-color);
	/* background-color: yellowgreen; */
}

p {
	padding: 25px;
}

nav {
	background-color: var(--nav-background-color) !important;
	font-size: 1.2rem;
	display: flex;
}

nav a {
	display: block;
	color: var(--accent1-color);
	text-decoration: none;
	padding: 1rem;
}

nav a:link,
nav a:visited {
	color: var(--nav-link-color);
	/* color: aqua; */
}

nav a:hover {
	color: var(--accent2-color);
	/* color: blue; */
	background-color: var(--nav-hover-background-color);
	/* background-color: violet; */
}
